{% extends 'core/main.html' %}


{% block title %}Добавить новый опрос{% endblock %}



{% block content %}


<form action="{% url 'job_with_db' %}" method="POST">

    {% csrf_token %}

    <!-- <div class="col-md-4 offset-md-2" style="position: absolute; top: 15%;">
        <div class="row justify-content-center">
            <button type="submit" class="btn fa fa-2x fa-user-plus" name="_add" style="box-shadow: none"></button>
            <button type="submit" class="btn fa fa-2x fa-user-times" name="_delete" style="box-shadow: none"></button>
            <button type="submit" class="btn fa fa-2x fa-save" name="_change" style="box-shadow: none"></button>
        </div>
    </div> -->


    <div class="col-sm-12" style="position: absolute; top: 25%">
        <div class="row justify-content-center">
            <div class="col-7 text-center" style="background-color: white; box-shadow: 0 0 10px;">
                <div class="col-15 text-center" style="background-color: aquamarine; box-shadow: 0 0 10px;">
                    <h3>
                        Добавить новый опрос
                    </h3>
                    <div class="mt-3 form-group row">
                        <label for="" class="col-sm-2 col-form-label" style="text-align: left;">Номер карты</label>
                        <div class="col-sm-10">
                            {{ form.number_card_opros }}
                        </div>
                    </div>
                    <!-- Вместо того, чтобы писать дату анкетирования, пусть автоматические машина пишет -->
                    <!-- <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label" style="text-align: left">Дата анкетирования</label>
                        <div class="col-sm-10">
                            {{ form.date }}
                        </div>
                    </div> -->
                    <div class="form-group row">
                        <button style='margin-left: 45%;'>Добавить</button>
                    </div>
                </div>

                <div class="col-15 text-center" style="background-color: linen; box-shadow: 0 0 10px;">
                    <h3>
                        Добавить ответ
                    </h3>
                    <div class="mt-3 form-group row">
                        <label for="" class="col-sm-2 col-form-label" style="text-align: left;">Номер карты</label>
                        <div class="col-sm-10">
                            {{ form.number_card_answer }}
                        </div>
                    </div>
                    <div class="mt-3 form-group row">
                        <label for="" class="col-sm-2 col-form-label" style="text-align: left;">Номер анкеты</label>
                        <div class="col-sm-10">
                            {{ form.number_ancket }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label" style="text-align: left">Вопрос</label>
                        <div class="col-sm-10">
                            {{ form.question }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label" style="text-align: left">Ответ</label>
                        <div class="col-sm-10">
                            {{ form.answer }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label" style="text-align: left">Уверенность</label>
                        <div class="col-sm-10">
                            {{ form.conviction }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <button style='margin-left: 45%;'>Добавить</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-4 col-sm-12" style="position: absolute; top: 105%">
            <div class="row justify-content-center">
                <div class="col-11 text-center" style="background-color: white; box-shadow: 0 0 10px;">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Анкета номер</th>
                                <th scope="col">Дата анкетирования</th>
                                <th scope="col">Вопрос</th>
                                <th scope="col">Ответ</th>
                                <th scope="col">Уверенность %</th>
        
                            </tr>
                        </thead>
        
        
                        <tbody>
                            {% if ankets|length > 0 %}
                            {% for f in ankets  %}
        
                            <tr>
                                 <td>{{ f.date }}</td>
                                
                            </tr>
        
                            {% endfor %}
                            {% endif %}
        
                        </tbody>
        
        
                    </table>
                </div>
            </div>
        </div>
    </div>

    
</form>






    {% endblock %}
