{% extends 'core/main.html' %}


{% block title %}Добавить новый опрос{% endblock %}



{% block content %}


<form action="{% url 'job_with_db_anckets' %}" method="POST">

    {% csrf_token %}

    <div class="col-sm-12" style="position: absolute; top: 25%">
        <div class="row justify-content-center">
            <div class="col-7 text-center" style="background-color: white; box-shadow: 0 0 10px;">
                <div class="col-15 text-center" style="background-color: aquamarine; box-shadow: 0 0 10px;">
                    <span class="navbar-text" style="color: black">
                        Номер карты: 
                        {{ form.number_card }}
                    </span>
                    <h3>
                        Добавить новый опрос (новую анкету)
                    </h3>
                    <div class="form-group row">
                        <button type="submit" name="add_opros" style='margin-left: 45%;'>Добавить</button>
                    </div>
                </div>

                <div class="col-15 text-center" style="background-color: linen; box-shadow: 0 0 10px;">
                    <h3>
                        Добавить ответ
                    </h3>
                    <div class="mt-3 form-group row">
                        <label for="" class="col-sm-2 col-form-label" style="text-align: left;">Номер анкеты с которой работаем</label>
                        <div class="col-sm-10">
                            {{ form.number_ancket }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label" style="text-align: left">Вопрос</label>
                        <div class="col-sm-10">
                            {{ form.question }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label" style="text-align: left">Ответ</label>
                        <div class="col-sm-10">
                            {{ form.answer }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label" style="text-align: left">Уверенность</label>
                        <div class="col-sm-10">
                            {{ form.conviction }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <button type="submit" name="add_answer" style='margin-left: 45%;'>Добавить</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-4 col-sm-12" style="position: absolute; top: 105%">
            <div class="row justify-content-center">
                <div class="col-11 text-center" style="background-color: white; box-shadow: 0 0 10px;">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Карта №</th>
                                <th scope="col">ФИО</th>
                                <th scope="col">Код анкеты</th>
                                <th scope="col">Дата анкетирования</th>
                                <th scope="col">Вопрос</th>
                                <th scope="col">Ответ</th>
                                <th scope="col">Уверенность %</th>
        
                            </tr>
                        </thead>
        
        
                        <tbody>
                            {% if ankets|length > 0 %}
                            {% for ancket in ankets  %}
        
                            <tr>
                                <td>{{ ancket.patient.number_card }}</td>
                                <td>{{ ancket.patient.FIO }}</td>
                                <td>{{ ancket.id }}</td>
                                <td>{{ ancket.date }}</td>
                                <td>{{ ancket. }}</td>
                                <td>{{ ancket. }}</td>
                                <td>{{ ancket. }}</td>
                                
                            </tr>
        
                            {% endfor %}
                            {% endif %}
        
                        </tbody>
        
        
                    </table>
                </div>
            </div>
        </div>
    </div>

    
</form>






    {% endblock %}
