{% extends 'core/main.html' %}


{% block title %}Добавить новый опрос{% endblock %}



{% block content %}


<form action="{% url 'job_with_db_diagnozes' login=login %}" method="POST">

    {% csrf_token %}

    <div class="col-sm-12" style="position: absolute; top: 25%">
        <div class="row justify-content-center">
            <div class="col-7 text-center" style="background-color: white; box-shadow: 0 0 10px;">
                <div class="col-15 text-center" style="background-color: aquamarine; box-shadow: 0 0 10px;">
                    <span class="navbar-text" style="color: black">
                        Номер карты: 
                        {{ form.number_card }}
                    </span>
                </div>

                <div class="col-15 text-center" style="background-color: linen; box-shadow: 0 0 10px;">
                    <h3>
                        Диагнозы пациента
                    </h3>
                    <div class="mt-3 form-group row">
                        <label for="" class="col-sm-2 col-form-label" style="text-align: left;">Код диагноза</label>
                        <div class="col-sm-10">
                            {{ form.number_diag }} 
                            <!-- <button type="submit" class="mb-3 btn btn-primary" name="get_data_diag" style='margin-left: 0%;'>Получить данные по диагнозу</button> -->
                        </div>
                    </div>
                     <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label" style="text-align: left">Диагноз(болезнь)</label>
                        <div class="col-sm-10">
                            {{ form.disease }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label" style="text-align: left">Сопоствующий диагноз</label>
                        <div class="col-sm-10">
                            {{ form.note }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label" style="text-align: left">Эпикриз</label>
                        <div class="col-sm-10">
                            {{ form.epicriz }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <button type="submit" class="mb-3 btn btn-primary" name="add_btn" style='margin-left: 50%;'>Добавить диагноз</button>
                        <button type="submit" class="mb-3 btn btn-primary" name="change_btn" style='margin-left: 50%;'>Изменить диагноз</button>
                        <button type="submit" class="mb-3 btn btn-primary" name="delete_btn" style='margin-left: 50%;'>Удалить диагноз</button>
                    </div> 
                </div>
            </div>
        </div>

        <div class="mb-4 col-sm-12" style="position: absolute; top: 105%">
            <div class="row justify-content-center">
                <div class="col-11 text-center" style="background-color: white; box-shadow: 0 0 10px;">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Код диагноза</th>
                                <th scope="col">Эпикриз</th>
                                <th scope="col">Диагноз</th>
                                <th scope="col">Диагноз сопуствующий</th>
        
                            </tr>
                        </thead>
        
        
                        <tbody>
                            {% if diagnoses|length > 0 %}
                                {% for diagnose in diagnoses  %}
                                        <!-- ifequal diagnose.epicriz.patient.id patient.id -->
                                        <tr>
                                            <td>{{ diagnose.id }}</td>
                                            <td>{{ diagnose.epicriz.lechenie }}(код:{{diagnose.epicriz.id}} )</td>
                                            <td>{{ diagnose.disease.name }}(код:{{diagnose.disease.id}} )</td>
                                            <td>{{ diagnose.note }}</td>
                                        </tr>
                                        <!-- endifequal -->
                                {% endfor %}
                            {% endif %}
        
                        </tbody>
        
        
                    </table>
                </div>
            </div>
        </div>
    </div>

    
</form>






    {% endblock %}
