{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--JS-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <title>{% block title %}Log in{% endblock %}</title>
</head>
<body style="background-color: rgb(255, 246, 235)">


    {% block navbar %}

    {% endblock %}


    {% block content %}


    {% if message %}
    <script>
            alert('{{ message }}')
    </script>
    {% endif %}

    
    <form action="{% url 'main' %}" method="POST">

        {% csrf_token %}


        <div class="container-fluid h-100">
            <div class="row align-items-center h-100">
                <div class="col-sm-12">
                    <div class="row justify-content-center">
                        <div class="col-3 text-center" style="background-color: white; box-shadow: 0 0 10px; position: fixed; top: 25%">
                            <h2 class="signinText" style="text-align: center;">Sign in</h2>
                            <div class="form-group" style="text-align: left;">
                                <label for="login">Login:</label>
                                {{ form.login }}
                            </div>
                            <div class="form-group" style="text-align: left;">
                                <label class='' for="exampleInputPassword1" style="text-align: left;">Password:</label>
                                {{ form.password }}
                            </div>
                            <div class="">
                                <!-- Не нужно это! Можно в админ войти по 127.0.0.1:8000\admin -->
                                <!-- <label class="" for="">
                                    <span class="mb-4">Я администратор</span>
                                    {{ form.isAdmin }}
                                </label> -->
                            </div>
                            <div class="button" style="text-align: center;">
                                <button type="submit" class="mb-3 btn btn-primary">Sign in</button>
                            </div>
                            <div class="a mb-2" style="text-align: center;">
                                <a class="" href="{% url 'register' %}">Sign up</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>

    {% endblock %}

</body>
</html>
